
.red-header {
    color: red;
  }
  
  .black-header {
    color: black;
  }


.container {
    background-image: url('assets/gr.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    color: blue;
  }



.form-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: transparent;
  }
  
 
  .counter {
    text-align: center;
    color: #fff;
  }
 
  .btn-group {
   
    justify-content: center;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgba(248, 248, 248, 0.269);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }



  .h1 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
  }
  
  .h5 {
    color: green;
  }
  

  .h5.not-yet {
    color: red;
  }

  .footer {
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #21081a;
    width: 900px; /* Set the maximum width to your desired value */
    height: 40px;
    width: fit-content;
  }